
<h1>MyName</h1>
<html>
<head>
    <title>Customer Form</title>
</head>
<body>
    <form method='post'>
        <label>Name:</label><br />
        <input name='name' /><br />
        <input type='submit' value='Send' />
    </form>
    <h1>@ViewData["Head"]</h1>
</body>
</html>

